<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>208393408904-2ho78efal28v9r4881d94vh73otm0324.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208393408904-2ho78efal28v9r4881d94vh73otm0324</string>
	<key>API_KEY</key>
	<string>AIzaSyBSbsbvhQYePNhshJfmnOLUmIMEHX-hLYE</string>
	<key>GCM_SENDER_ID</key>
	<string>208393408904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Treeline.BCSS</string>
	<key>PROJECT_ID</key>
	<string>bcss-app-6b279</string>
	<key>STORAGE_BUCKET</key>
	<string>bcss-app-6b279.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208393408904:ios:06b555fde89fb1c0</string>
	<key>DATABASE_URL</key>
	<string>https://bcss-app-6b279.firebaseio.com</string>
</dict>
</plist>
